<template lang="pug">
.film-detail
  i.fab.fa-500px
  article
    .film-detail__main
      figure
        img.image(:src="showingData[filmId].imgSrc")
      .film-detail__info
        .mark-area
          span(:class="showingData[filmId].level")
            mark
          span(:class="showingData[filmId].type")
            mark
        .title-area
          h1 {{ showingData[filmId].movieTw }}
          h2 {{ showingData[filmId].movieEn }}
          span {{ `上映日期: ${showingData[filmId].commingDate}` }}
    .film-detail__version
      el-form(ref="form" label-width="120px")
        el-form-item(label="放映版本")
          el-select(v-model="movieForm.version" placeholder="請選擇版本")
            el-option(label="Zone one" value="Zone one")
            el-option(label="Zone two" value="Zone two")
        el-form-item(label="電影場次")
          el-select(v-model="movieForm.time" placeholder="請選擇場次")
            el-option(label="Zone one" value="Zone one")
            el-option(label="Zone two" value="Zone two")
  hr
.booking-area
  .booking-area__hint
    .info
      h2 {{ '選擇座位' }}
      p {{ '選擇您希望購買的座位.請注意系統將自動為您保留可訂的最佳座位, 每筆交易最多可購買10張電影票' }}
  .select-seat__icon
    .icon-container
      img.seat-icon(src="../assets/img/standard_selected.png")
      span {{ '您的座位' }}
    .icon-container
      img.seat-icon(src="../assets/img/standard_available.png")
      span {{ '可選' }}
    .icon-container
      img.seat-icon(src="../assets/img/wheelchair_available.png")
      span {{ '輪椅座(須至影城購買)' }}
    .icon-container
      img.seat-icon(src="../assets/img/sold.png")
      span {{ '已售' }}
  .seat-screen
    img(src="../assets/img/SeatScreen.png" style="width: 800px")
  .seat-container
    .seat-container__left
      table
        tbody
          tr(v-for="data in seatTable" style="line-height: 30px")
            td {{ data.index }}
    .seat-container__main
      table.seat-area
        tbody
          tr(v-for="data in seatTable" style="line-height: 25px")
            td(v-for="seatNo in data.seatNumbers")
              .empty(v-if="seatNo === ''")
              .position-info(v-else)
                p(@click="bookingSeat(`${data.index}-${seatNo}`)") {{ seatNo }}
                img(
                  :id="`${data.index}-${seatNo}`"
                  src="../assets/img/standard_available.png"
                )
    .seat-container__right
      table
        tbody
          tr(v-for="data in seatTable" style="line-height: 30px")
            td {{ data.index }}
</template>
<script lang="ts">
import { defineComponent, ref, reactive } from "vue";
import { useRoute } from "vue-router";
import showingData from "./showing-data";
import seatTable from "./seat-table";

export default defineComponent({
  name: "Showing",
  setup() {
    const route = useRoute();
    const filmId = ref(Number(route.query.id));
    // const top = ref(0);
    const movieForm = reactive({
      version: "",
      time: ""
    });
    const bookingSeat = (imgId: string) => {
      const images = document.getElementById(imgId) as HTMLImageElement;
      images.src = require("../assets/img/standard_selected.png");
    };
    // window.addEventListener("scroll", test);
    return {
      showingData,
      filmId,
      route,
      seatTable,
      bookingSeat,
      movieForm
    };
  }
});
</script>
<style lang="scss" scoped>
@mixin basic-level($mark) {
  position: absolute;
  left: 48px;
  bottom: -29px;
  font-size: 18px;
  padding: 0px 6px 0px;
  border-radius: 5px;
  mark {
    color: white;
    background-color: transparent;
    position: relative;
    top: 1px;
    margin-left: 8px;
    font-size: 22px;
    font-weight: bold;
    &::before {
      content: $mark;
    }
  }
  @content;
}
.film-detail {
  width: 1200px;
  min-height: 400px;
  margin: 0 auto;
  overflow: hidden;
  article {
    margin: 30px;
    min-height: inherit;
    .image {
      max-width: 100%;
    }
  }
  &__main {
    width: 55%;
    min-height: inherit;
    float: left;
    figure {
      width: 40%;
      float: left;
    }
  }
  &__version {
    width: 45%;
    min-height: inherit;
    display: inline-block;
    margin-top: 10px;
  }
  &__info {
    margin-left: 45%;
    padding: 22px 20px 0 0;
    .mark-area {
      position: relative;
      .parental {
        @include basic-level("6\207A") {
          background-color: #00a0e8;
          &::before {
            content: "護";
            color: white;
          }
        }
      }
      .parental-guidance {
        @include basic-level("12\207A") {
          background-color: #e3a600;
          &::before {
            content: "輔";
            color: white;
          }
        }
      }
      .restricted {
        @include basic-level("18\207A") {
          background-color: #e50011;
          &::before {
            content: "限";
            color: white;
          }
        }
      }
    }
    .title-area {
      margin-top: 40px;
      h1 {
        font-size: 31.2px;
        margin: 0;
      }
      h2 {
        font-size: 18px;
        color: #2f96ee;
      }
    }
  }
}
hr {
  border-top: 1px solid #eaeaea;
}
.booking-area {
  width: 60%;
  margin: 30px auto;
  &__hint {
    background-color: rgba(0, 0, 0, 0.5);
    .info {
      text-align: center;
      padding: 20px 0px;
      color: white;
    }
  }
  .select-seat__icon {
    text-align: center;
    width: 80%;
    margin: 20px 0px;
    margin: 0 auto;
    .icon-container {
      margin: 10px 10px;
      display: inline-block;
    }
    .seat-icon {
      display: block;
    }
  }
  .seat-screen {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .seat-container {
    width: 800px;
    margin: 0 auto;
    &__left {
      display: inline-block;
      float: left;
    }
    &__main {
      width: 92%;
      height: 100%;
      display: inline-block;
      .seat-area {
        width: 100%;
        table-layout: fixed;
        td {
          position: relative;
          padding: 0px;
          margin: 0px;
          border: 0;
          .empty {
            height: 25px;
            width: 25px;
          }
        }
        p {
          line-height: 25px;
          width: 25px;
          position: absolute;
          margin: 0;
          padding: 0;
          text-align: center;
        }
        .position-info {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &__right {
      display: inline-block;
      float: right;
    }
  }
}
.hidden {
  visibility: hidden;
}
</style>
