<template lang="pug">
.showing
  h1 {{ '熱售中' }}
  .showing__list
    el-card.showing__list--item(
      v-for="(item, index) in showingData"
      shadow="never"
      :body-style="{ padding: '20px', width: '226px', height: 'auto', 'box-sizing': 'border-box' }"
    )
      figure
        span(:class="item.type")
          mark {{ item.status }}
        span(:class="item.level")
          mark
        img.showing__image(:src="item.imgSrc")
      .showing__list--detail
        h2 {{ item.movieTw }}
        h3 {{ item.movieEn }}
        .comming-date
          span {{ item.commingDate }}
        .booking
          el-button.booking__btn(
            type="success"
            @click="$router.push({ name: 'film', query: { id: index } })"
          ) {{ '前往訂票' }}
</template>
<script lang="ts">
import { defineComponent } from "vue";
import showingData from "./showing-data";

export default defineComponent({
  name: "Showing",
  setup() {
    return { showingData };
  }
});
</script>
<style lang="scss" scoped>
@mixin basic-type {
  position: absolute;
  top: -65px;
  left: -65px;
  bottom: auto;
  width: 120px;
  height: 120px;
  transform: rotate(-45deg);
  @content;
}
@mixin basic-level($mark) {
  position: absolute;
  left: -4px;
  bottom: 6px;
  font-size: 14px;
  padding: 0px 6px 0px;
  margin-left: 10px;
  border-radius: 5px;
  mark {
    position: relative;
    top: 0;
    margin-left: 4px;
    font-size: 16px;
    font-weight: 400;
    &::before {
      content: $mark;
    }
  }
  @content;
}
.showing {
  padding: 40px 60px;
  max-width: 1140px;
  margin: 0 auto;
  h1 {
    color: #2f96ee;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    &--item {
      background-color: white;
      border-color: white;
      &:hover {
        cursor: default;
        background-color: #eaeaea;
      }
      figure {
        position: relative;
        margin: 0px 0px 0px;
        overflow: hidden;
        mark {
          color: white;
          background-color: transparent;
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 2px;
          font-size: 14px;
        }
      }
      .pre-purchase {
        @include basic-type {
          background-color: #ee7700;
        }
      }
      .top-five,
      .champion {
        @include basic-type {
          background-color: #eeb100;
        }
      }
      .parental {
        @include basic-level("6\207A") {
          background-color: #00a0e8;
          &::before {
            content: "護";
            color: white;
          }
        }
      }
      .parental-guidance {
        @include basic-level("12\207A") {
          background-color: #e3a600;
          &::before {
            content: "輔";
            color: white;
          }
        }
      }
      .restricted {
        @include basic-level("18\207A") {
          background-color: #e50011;
          &::before {
            content: "限";
            color: white;
          }
        }
      }
    }
    &--detail {
      height: 150px;
      position: relative;
      padding: 6px;
      h2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 10px;
      }
      h3 {
        color: #2f96ee;
        font-size: 14px;
        font-weight: 400;
        font-family: Arial;
        margin-top: 0px;
        margin-bottom: 10px;
      }
      .booking {
        &__btn {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  &__image {
    height: 279px;
    width: 186px;
    display: block;
    &:hover {
      cursor: default;
    }
  }
  @media screen and(max-width: 1200px) {
    .showing {
      padding: 40px 120px;
      max-width: 1140px;
      margin: 0 auto;
    }
  }
}
</style>
