<template lang="pug">
.ticket-booking
  el-container
    el-header.header
      el-row
        el-col(:offset="1")
          .menu-bar
            img(src="./assets/img/vscinemas_logo.png")
            el-button.menu-item(type="text" @click="$router.push('showing')") {{ '熱售中' }}
            el-button.menu-item(type="text" @click="$router.push('coming')") {{ '即將上映' }}
    el-main.layout
      router-view
</template>

<script lang="ts">
import { ref, watchEffect, watch, defineComponent } from "vue";

export default defineComponent({
  name: "MainLayout",
  setup() {
    const num = ref(0);
    const activeIndex = ref("1");
    const handleSelect = (key: string, keyPath: []) => {
      console.log(key, keyPath);
    };

    watch(
      () => num.value,
      () => {
        console.log(num.value);
      }
    );

    watchEffect(() => {
      console.log(num.value);
    });

    return { handleSelect, activeIndex };
  }
});
</script>
<style lang="scss" scoped>
.ticket-booking {
  .header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #2660a9;
  }
  .menu-bar {
    display: flex;
  }
  .menu-item {
    font-size: 16px;
    padding-top: 40px;
    padding-left: 46px;
    font-weight: bold;
    color: white;
  }
  .layout {
    height: calc(100vh - 174px);
  }
}
</style>
